@import '../variables.scss';

.card-content{
  margin-top: 64px;
  display: grid;
  row-gap: 36px;

  .card-content-title{
    font-size: 26px;
    color: $white;
  }
  .card-content-link{
    font-size: 20px;
    color: $white;
  }

}

.grab-progress{
  height: 5px;
  border: 5px;
  background: rgba(18, 24, 41, 1);
  border: 1px solid #20283E;
  &-line{
    background-color: $primary;
    height: 100%;
    width: 100%;
  }
}

.card-content-header{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 12px;
  justify-content: space-between;
}

