@import '../variables.scss';



.header{
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.locale-switcher{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 18px;
  li{
    list-style: none;
    &:first-child{
      display: flex;
      align-items: center;
      &::after {
        content: "";
        display: block;
        width: 1px;
        height: 19px;
        background-color: $white;
        margin-left: 8px;

      }
    }

    &.active{
      a{
        color: $primary;
      }
    }
  }
}

.links{
  display: flex;
  align-items: center;
  gap: 12px;
  a{
    &:hover{
      text-decoration: underline;
    }
  }
}

.header-flex-end{
  display: flex;
  align-items: center;
  gap: 24px;
}