.swiper-slide{
  width: 100%;
  height: 500px;
  @media (max-width: 1023.98px) {
    height: 300px;
  }
  a{
    img{
      width: 100%;
      height: 100%;
    }
  }
  opacity: 0.8;
  transform: scale(0.75);
  transition: .3s;
  @media (max-width: 1023.98px) {
    transform: scale(0.85);
  }
  &-active{
    opacity: 1;
    transform: scale(1);
    transition: .3s;
  }
}
.home-swiper-title{
  margin-bottom: 32px;
}