@import 'variables';

body {
  background-color: $dark;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: $container;
  margin: auto;
  padding: 0 15px;
}

a{
  text-decoration: none;
  color: $white;
}

.btn{
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: .2s;
}

.primary-btn{
  padding: 5px 10px;
  color: $white;
  background-color: $primary;
  border-radius: 5px;
  &:hover{
    background-color: #5A4AF4;
    transition: .2s;
  }
  &:active{
    background-color: #7B6EF6;
    transition: .2s;
  }
}