@import 'variables';

body {
  background-color: $dark;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    width: 100%;
    top: 100%;
    z-index: -1;
    background-image: url(~/assets/img/Background.png);
    top: 0;
    left: 0;
    height: 100%;
    background-size: cover;
    background-repeat: repeat;
  }
}
html, body{
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  max-width: $container;
  margin: auto;
  padding: 0 15px;
}

a{
  text-decoration: none;
  color: $white;
}

.btn{
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: .2s;
}

.primary-btn{
  padding: 5px 10px;
  color: $white;
  background-color: $primary;
  border-radius: 5px;
  &:hover{
    background-color: #5A4AF4;
    transition: .2s;
  }
  &:active{
    background-color: #7B6EF6;
    transition: .2s;
  }
}

.page{
  padding: 64px 0;
}

.card-content-cards{
  display: flex;
  align-items: center;
  gap: 12px;
  overflow: hidden;
}
.media-card{
  min-width: 300px;
  height: 350px;
  border-radius: 12px;
  background: rgba(32, 40, 62, 0.80);
  backdrop-filter: blur(40px);
  padding: 8px 8px 16px 8px;
  display: flex;
  flex-direction: column;
  user-select: none;
  gap: 12px;

}
.media-card-image{
  width: 100%;
  min-height: 85%;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
}

.media-card-rating{
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(4px);
  display: inline-flex;
  padding: 4px 8px;
  align-items: center;
  gap: 4px;
  color: #FFAD49;
  width: max-content;
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 10px;
}

.media-card-name{
  font-size: 16px;
  font-weight: 600;
  line-height: 150%; /* 150% */
  letter-spacing: 0.32px;
  color: $white;
  user-select: none;
  &:hover{
    text-decoration: underline;
  }
}

.input{
  border-radius: 12px;
  border: 1px solid #323B54;
  background: rgba(0, 0, 0, 0.10);
  padding: 12px 16px;
  color: $white;
  font-size: 20px;
  &::placeholder{
    color: #323B54;
    font-size: 20px;
  }
  &.error{
    border: 1px solid red;
  }
}

.title{
  font-size: 26px;
  color: $white;
}

.title-block{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  .page-title{
    color: $white;
    font-size: 44px;
    @media (max-width: $md) {
      font-size: 32px;
    }
  }
  .page-subtitle{
    font-size: 24px;
    color: $white;
    opacity: 0.8;
    text-align: center;
  }
}

.page-content{
  margin-top: 36px;
}


.grid-films{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px ,1fr));
  gap: 36px
}

@tailwind base;
@tailwind components;
@tailwind utilities;

a{
  color: $white;
  cursor: pointer;
}

.accordion-section {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.accordion-section.open {
  max-height: 100000px; /* or any value that is greater than the content height */
}

.person{
  width: 100%;
}

$accent-color: #e7e7e7;
$brand-color:#fe4141;
$dark-color: #1e1b26;


.movie-img {
  width:100%;
  height:380px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom,
			color-stop(0.00,  rgba(0,0,0,1)),
			color-stop(0.35,  rgba(0,0,0,1)),
			color-stop(0.50,  rgba(0,0,0,1)),
			color-stop(0.65,  rgba(0,0,0,1)),
			color-stop(0.85,  rgba(0,0,0,0.6)),
      color-stop(1.00,  rgba(0,0,0,0)));

  position:relative;
}

.movie{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+39,1e1b26+53&0+38,1+55 */
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 38%, rgba(255,255,255,0.06) 39%, rgba(30,27,38,0.88) 53%, rgba(30,27,38,1) 55%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 38%,rgba(255,255,255,0.06) 39%,rgba(30,27,38,0.88) 53%,rgba(30,27,38,1) 55%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 38%,rgba(255,255,255,0.06) 39%,rgba(30,27,38,0.88) 53%,rgba(30,27,38,1) 55%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#1e1b26',GradientType=0 ); /* IE6-9 */

  background-size: contain;
  background-size: cover;
  width: 100%;
  height:auto;
  display:block;
  border-radius:4px;
}

.text-movie-cont{
  padding:0px 12px;
  text-align: justify;
}

.action-btn{
  text-align:right;
  i{
  color:$brand-color;
  font-size:28px;
  text-align:right;
  }
}

.watch-btn {
  h3{
    i{
      font-size:14px;
      margin-right:2px;
      position: relative;
      float: left;
      line-height: 1;
    }
  }
  display:block;
  border:1px solid $brand-color;
  border-radius:5px;
  padding:4px;
  width:140px;
}

.action-row{
  margin-top:24px;
}

.summary-row{margin-top:12px;}

/* TYPOGRAPHY STARTS */

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic);

$heading-font-family: 'Montserrat', sans-serif;
$paragraph-font-family: 'Open Sans', sans-serif;

$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$font-regular: 400;
$mont-bold: 700;

$text-movie-title:36px;
$text-summary:12px;
$text-action-btn:14px;
$text-movie-description:12px;

h1,h2,h3,h4,h5 {
  font-family:$heading-font-family;
  color:$accent-color;
  margin:0px;
}

h1 {
  font-size:$text-movie-title;
  font-weight:$font-regular;
}

h3 {
  font-size:$text-action-btn;
  font-weight:$font-regular;
  color:$brand-color;
}

h5 {
  font-size:$text-summary;
  font-weight:$font-regular;
}

.movie-gen{
  margin:0px;
  padding:0px;
    li{
    font-family:$paragraph-font-family;
    font-size:$text-summary;
    color:darken( $accent-color, 40% );
    width:auto;
    display:block;
    float:left;
    margin-right:6px;
    font-weight:$semi-bold;
  }
}

.movie-likes{
  @extend .movie-gen;
  float:right;
  li{
    display: flex;
    align-items: center;
    gap: 4px;
    color:orange;
  }
}

.movie-details {
  font-family:$paragraph-font-family;
  font-size:$text-summary;
  font-weight:$light;
  color:darken( $accent-color, 20% );
  @extend .elements-distance;
}

.movie-description {
  font-family:$paragraph-font-family;
  font-size:$text-movie-description;
  font-weight:$regular;
  color:darken( $accent-color, 30% );
  @extend .elements-distance;
  text-align: justify;
  line-height: 1.3;
}

.movie-actors {
  font-family:$paragraph-font-family;
  font-size:$text-summary;
  font-weight:$light;
  color:$accent-color;
  font-style: italic;
  @extend .elements-distance;
}

/* TYPOGRAPHY ENDS */

/** GRID STARTS **/


.thegrid { margin: 0 auto; }

.elements-distance{margin:0px}

.mr-grid { width: 100%; }
    .mr-grid:before, .mr-grid:after { content: ""; display: table; }
    .mr-grid:after { clear: both; }
    .mr-grid { *zoom: 1; }

.col1, .col2, .col3, .col3rest, .col4, .col4rest, .col5, .col5rest, .col6, .col6rest{
	margin:0% 0.5% 0.5% 0.5%;
    padding:1%;
    float: left;
    display: block;
}

/* Columns match, minus margin sum. E.G. margin-left+margin-right=1%, col2=50%-1% - added padding:1%*/

.col1 { width: 98%; }
.col2 { width: 47%; }
.col3 { width: 30.3333333333%; }
.col4 { width: 22%; }
.col5 { width: 17%; }
.col6 {width:13.6666666667%;}


/* Columns match with their individual number. E.G. col3+col3rest=full width row */

.col3rest { width: 63.6666666667%; }
.col4rest { width: 72%; }
.col5rest { width: 77%; }
.col6rest { width: 80.3333333333%;}

.dribbble-link {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 50px;
}